/* rem text size */

html{
    font-size: 100px;
}

/* вибір парні та не парні блоки */
body div:nth-of-type(odd) {
    width: 70%;
}
body div:nth-of-type(even) {
    width: 50%;
}

/* збільшення розміру тексту в двічі */
h2:hover, h3:hover{
    transition: 0.5s;
    transform: scale(2);
 }

/* стилізування тексту у блоках */

body div:nth-of-type(1) h1 {
    font-family: Roboto;
   font-weight: 900;
    font-size: 0.56rem;
    color: #222222;
}

body div:nth-of-type(1) h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 42px;
    color: #222222;
}

body div:nth-of-type(2) h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.42rem;
    color: #222222B0;
}
body div:nth-of-type(2) h3 {
    font-family: sail;
    font-weight: 400;
    font-size: 28px;
    color: #222222B0;
}

body div:nth-of-type(3) h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.24rem;
    color: #2222229E;
    text-align: center;
    }
body div:nth-of-type(3) h3 {
    font-family: sail;
    font-weight: 400;
    font-size: 16px;
    color: #2222229E;
    text-align: center;
    text-decoration: underline;
}

body div:nth-of-type(4) h2 {
    font-family: Roboto;
    font-weight: 800;
    font-size: 0.42rem;
    color: #2222229E;
    text-decoration: line-through;
    }
body div:nth-of-type(4) h3 {
    font-family: sail;
    font-weight: 400;
    font-size: 28px;
    color: #2E2E2E6B;
    text-decoration: line-through;
}

/* кольори блоків */
body div:nth-of-type(1) {
    background-color: #55B3B9;
}

body div:nth-of-type(2) {
    background-color: #C56060;
    }

body div:nth-of-type(3) {
    background-color: #8FC091;;
    }

body div:nth-of-type(4) {
    background-color: #8F86AF;
    }

div {
    height: 150px;
}